<%= include('includes/head') %>
<link rel="stylesheet" href="/css/videogame-list.css">
</head>
<%= include('includes/navigation') %>
<h1>Lista de Videojuegos</h1>
<ul>
    <% games.forEach(game => { %>
    <li>
        <h2><a href="/games/<%= game.id %>"><%= game.title %></a></h2>
        <p><strong>Desarrollador:</strong> <%= game.developer %></p>
        <p><strong>Género:</strong> <%= game.genre %></p>
        <p><strong>Año:</strong> <%= game.release_year %></p>
        <p><strong>Descripción:</strong> <%= game.description %></p>
        <img src="<%= game.image %>" alt="<%= game.title %>" style="max-width: 200px;">
    </li>
    <% }); %>
</ul>
</html>